@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  background: center/cover, rgba(0, 0, 0, 0.5) no-repeat;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}
.body::-webkit-scrollbar {
  width: 10px; /* ширина всей полосы прокрутки */
}

.body::-webkit-scrollbar-track {
  background: #ccc;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1) inset; /* цвет зоны отслеживания */
}

.body::-webkit-scrollbar-thumb {
  background-color: #5c5b5b; /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 2px solid #ccc; /* отступ вокруг бегунка */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  /* margin-top: 20px; */
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
  margin: 0 auto;
  padding-bottom: 12px;
}

.play-list {
  text-align: left;
  margin-left: 30px;
}
.list {
  list-style-type: none;
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}
.list::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url(../assets/svg/play.svg);
  left: -4px;
  top: 4px;
  cursor: pointer;
}
.item-active {
  opacity: 1;
}
.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.item-active::before {
  background-image: url('../assets/svg/pause.svg');
  cursor: pointer;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}
.player {
  position: relative;
  width: 300px;
  height: 150px;
}

.player::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #000000a9;
  filter: blur(3px);
  border-radius: 20px;
}
.player-name {
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}
.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}
.progress-conteiner {
  background: #e4dfdf;
  border-radius: 5px;
  width: 244px;
  height: 6px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.5s, opacity 0.5s;
}
.player-progress {
  background: #2b3c5b;
  border-radius: 5px;
  height: 6px;
  cursor: pointer;
}
.length {
  font-size: 10px;
}

.player-time {
  display: flex;
  justify-content: space-between;
  width: 244px;
  margin: 0 auto;
}
.player-sound {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mute-button {
  padding-right: 7px;
  margin-top: 4px;
  opacity: 1;
}
.switch-activ {
  opacity: 0.4;
}
input[type='range'] {
  width: 112px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 7px;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 7px;
  background-color: blue;
}

input[type='range']::-webkit-slider-thumb {
  background: #ecf0f1;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -4px;
  box-shadow: -200px 0 0 200px #2b3c5b;
}

input[type='range']::-moz-range-track {
  height: 7px;
  background-color: blue;
}

input[type='range']::-moz-range-thumb {
  background: #ecf0f1;
  cursor: pointer;
  height: 7px;
  border-radius: 0px;
  box-shadow: -200px 0px 0px 200px #2b3c5b;
  padding: 0px;
  margin: 0px;
}

/* Настройки */
ul {
  list-style-type: none;
}
.display {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s;
}
.setting-conteiner {
  position: relative;
}
.settings-img {
  display: flex;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  background: url(../assets/img/settings.png);
  background-size: cover;
  background-position: center;
  filter: invert(1);
  opacity: 0.6;
  cursor: pointer;
}
.settings-img:hover {
  transform: rotate(360deg);
  transition: 3s;
}
.settings {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 0;
  height: 0;
  padding-top: 20px;
  color: rgb(180, 180, 180);
  transform: translateY(-100px);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s, translateY 0.2s;
}
.settings-activ {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  width: 453px;
  height: 160px;
}
.option {
  display: none;
}
.settings::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #000000a9;
  filter: blur(3px);
  border-radius: 20px;
}
.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
}
.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.language-list {
  text-align: center;
}

.li-API {
  display: flex;
  justify-content: space-between;
}

.API-input {
  width: 68px;
  height: 16px;
  margin-left: 7px;
  background-color: #2195f375;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding-left: 2px;
}

.li {
  padding-bottom: 5px;
  cursor: pointer;
}
.settings-li-active {
  font-size: 19px;
  color: #fff;
}

/* вкл/выкл */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 12px;
  margin-left: 10px;
  align-self: center;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.lange {
  margin-top: 20px;
  background-color: #2b3c5b;
  border-radius: 3px;
  cursor: pointer;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  margin-top: 20px;
  margin-right: 20px;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}
.quote-blok {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  position: relative;
}
.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
  text-align: center;
}

.author {
  min-height: 20px;
  margin-top: 10px;
  text-align: center;
}
.toDo_List {
  width: 300px;
  position: absolute;
  color: rgb(180, 180, 180);
  background: #000000cf;
  border-radius: 10px;
  height: 50px;
}

.title-toDo_List {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.background-active-toDo_List {
  display: table;
  margin-bottom: 20px;
}
.conteiner-toDo_List {
  padding-bottom: 10px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s, translateY 0.3s;
}
.active-toDo_List {
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s, opacity 0.3s, translateY 0.3s;
}
.enter-toDo_List {
  text-align: center;
}
.conteiner-text-toDo_List {
  padding: 0px 20px 5px 20px;
  max-height: 100px;
  overflow-y: scroll;
}
.conteiner-text-toDo_List::-webkit-scrollbar {
  width: 12px; /* ширина всей полосы прокрутки */
}

.conteiner-text-toDo_List::-webkit-scrollbar-track {
  background: #00000000; /* цвет зоны отслеживания */
}

.conteiner-text-toDo_List::-webkit-scrollbar-thumb {
  background-color: rgb(4, 4, 187); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 2px solid #000000f3; /* отступ вокруг бегунка */
}
.text-toDo_List {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.icon-toDo_List {
  filter: invert(1);
  opacity: 0.6;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.input-toDo_List {
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
  height: 25px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding-left: 5px;
}
.button-toDo_List {
  cursor: pointer;
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
  font-size: 16px;
  padding: 3px 7px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
